
<div class="CustomCss md-flex flex-stretch">
  <style>{{ styles }}</style>
  <div class="md-col-8 py3">

    <section class="px2 mb3">
      <div class="sm-flex flex-center mb2">
        <h2 class="flex-auto m0 py1">Standard Modules </h2>
        <button class="h5 ml2 mr2 button-blue-outline" ng-click="deselectAll(modules)">Deselect All</button>
        <button class="h5 button-blue-outline" ng-click="selectAll(modules)">Select All</button>
      </div>
      <form>
        <ol class="list-reset sm-flex flex-wrap mxn2">
          <li ng-repeat="module in modules"
            custom-css-module
            class="flex border-box sm-col-6 px2 mb3"></li>
        </ol>
      </form>
    </section>

    <section class="px2 py3">
      <h2>Optional Modules</h2>
      <form>
        <ol class="list-reset sm-flex flex-wrap mxn2">
          <li ng-repeat="module in optionalModules"
            custom-css-module
            class="flex border-box sm-col-6 px2 mb3"></li>
        </ol>
      </form>
    </section>

    <section class="px2 py3">
      <h2>Variables</h2>
      <form>
        <div ng-repeat="module in variables"
          ng-if="module.ast.stylesheet.rules">
          <ol class="list-reset sm-flex flex-wrap"
            ng-repeat="rule in module.ast.stylesheet.rules"
            ng-if="rule.selectors[0] == ':root'">
            <li class="sm-col-6 lg-col-4" ng-repeat="v in rule.declarations">
              <label class="h5 bold">{{ v.property }}:</label>
              <input type="text" class="block field-light" ng-model="v.value" ng-change="build()">
            </li>
          </ol>
        </div>
      </form>
    </section>

  </div>

  <section class="flex flex-column md-col-4 px2 py3 white bg-dark-gray">
    <div class="sm-flex flex-center mb2">
      <div class="flex-auto py1">
        <h2 class="m0">Compiled CSS ({{ fileSize | filesize }})</h2>
        <p class="h5 m0">Without vendor prefixes</p>
      </div>
      <a class="flex-none button button-blue"
        ng-href="{{ downloadURL }}"
        download="basscss-custom.css">
          Download
      </a>
    </div>
    <textarea class="flex-grow full-width field-dark monospace" style="min-height:80vh">{{ compiled }}</textarea>
    <div class="mb2">
      <a class="flex-none button button-blue"
        ng-href="{{ downloadURL }}"
        download="basscss-custom.css">
          Download
      </a>
    </div>
  </section>

</div>

